<div class="container mt-4">
  <div class="d-flex align-items-center mb-3">
    <button class="btn btn-secondary me-3 d-flex align-items-center" (click)="navigateToInicio()">
      <span class="me-2">&larr;</span> 
    </button>
    
    <h2 class="mb-0">Pendientes de envio</h2>
  </div>
  <input *ngIf="!pedidoSeleccionado" type="text" placeholder="Buscar por cliente" (input)="buscarPedido($event)" class="form-control mb-4" />
  <ul *ngIf="!pedidoSeleccionado" class="list-group">
    <li *ngFor="let pedido of pedidosFiltrados" class="list-group-item" (click)="seleccionarPedido(pedido)">
      Cliente: {{ pedido.cliente.apellido }}, {{ pedido.cliente.nombre }} - Importe: {{ pedido.importe }}
    </li>
  </ul>

  <div *ngIf="pedidoSeleccionado" class="mt-4">
    <h3>Detalles del Pedido</h3>
    <ul>
      <li *ngFor="let item of pedidoSeleccionado.items">
        Producto: {{ item.producto.nombre }} - Precio: {{ item.precio }} - Cantidad: {{ item.cantidad }}
      </li>
    </ul>
    <button class="btn btn-secondary" (click)="deseleccionarPedido()">Volver</button>
    <button class="btn btn-primary" (click)="editarPedido()">Editar</button>
    <button class="btn btn-danger" (click)="eliminarPedido(pedidoSeleccionado.id)">Eliminar</button>
    <button class="btn btn-success" (click)="enviarPedido(pedidoSeleccionado.id)">Enviar</button>
    <button class="btn btn-warning" (click)="reservarPedido(pedidoSeleccionado)">Reservar</button>
  </div>
</div>
